{% extends "base.html" %}
{% load avatar_tags %}

{% block content %}

<div class="question-detail">
    <h1>Question: "{{ question.title }}"</h1>
    <p><strong>Otter:</strong> {% avatar question.owner 50 %} {{ question.owner }}  </p> 
    <p><strong>Description:</strong> {{ question.description }}</p>
    <p><strong>Categories:</strong> {% for type in question.category.all %}<a
            href="{{ type.get_absolute_url }}">{{ type }}</a>
        {% endfor %}</p>
    <p><strong>Date Added:</strong> {{ question.date_posted }}</p>
    <!-- <p><strong>Favorited:</strong> {{ question.num_favorited }} time{{question.num_favorited|pluralize}}</p> -->
    <br>
    <form id="new_favorite" class="new_favorite" method='post' action="{% url 'favorites' question.pk %}">
        {% csrf_token %}
        <div class='question' value='{{ question.pk }}'></div>
        <div class='user_class' value='{{ request.user }}'></div>

        {% if user.favorite_set.exists %}
        <button class="favorite" id="button-id" type=submit value="Remove from Favorites">Remove From Favorites</button>
        {% else %}
        <button class="favorite" id="button-id" type=submit value="Add to Favorites">Add To Favorites</button>
        {% endif %}
</form>        
<br>
    
<div>

    <h4>Answers</h4>

    <div class="answers" >
        {% for answer in question.answer_set.all %}
        <hr>
        <p>{{answer.user}} ({{answer.date_posted}}) - {{answer.answer}}</p>
        <div class="checkmark"></div>
        <button type="button" id="bestAnswerButton" class="bestAnswerButton">Best Answer?</button>
        {% endfor %}
        <hr>
        {% if user.is_authenticated %}
        <form id='new_answer' method='post' onsubmit='return false;' action="{% url 'add_answer' question.pk %}">{% csrf_token %}
            <textarea class="newAnswer" placeholder='Add Answer'></textarea>
            <button class='new_answer' type="submit"> Submit </button>
        </form>
        {% else %}
        <p><a href="{% url 'auth_login' %}?next={{request.path}}">Login</a> to add a new answer.</p>
        {% endif %}


            <!-- <button type="button" class="bestAnswerButton">Best Answer?</button> -->


        </div>
    </div>
</div>
{% endblock %}

