{% extends "base.html" %}
{% block content %}

<div class="question-detail">
<h1>Question: {{ question.title }}</h1>
<p><strong>Otter:</strong> <a href="">{{ question.owner }}</a></p>
<p><strong>Description:</strong> {{ question.description }}</p>
<p><strong>Categories:</strong> {% for type in question.category.all %}<a href="{{ type.get_absolute_url }}">{{ type }}</a>
{% endfor %}</p>
<p><strong>Date Added:</strong> {{ question.date_posted }}</p>
<p><strong>Favorited:</strong> {{ question.num_favorited }} time{{question.num_favorited|pluralize}}</p>
<p><a href="{% url 'favorites' question.pk %}">Add to favorites</a></p>
<button class="favorite" id="button-id" value="{{ question }}">Add to Favorites</button>
<div>

    <h4>Answers</h4>

    <div class="answers" >
        {% for answer in question.answer_set.all %}
        <hr>
        <p>{{answer.user}} ({{answer.date_posted}}) - {{answer.answer}}</p>
        <div class="checkmark"></div>
        <button type="button" id="bestAnswerButton" class="bestAnswerButton">Best Answer?</button>
        {% endfor %}
        <hr>
        {% if user.is_authenticated %}
        <a href="{% url 'add_answer_to_question' question.pk %}">Add a new answer</a></p>
        {% else %}
        <p><a href="{% url 'login'%}?next={{request.path}}">Login</a> to add a new answer.</p>
        {% endif %}


        <!-- <button type="button" class="bestAnswerButton">Best Answer?</button> -->
        
        
    </div>
</div>
</div>
<a href="{% url 'sendmail' %}">Send test mail</a>
{% endblock %}
