{% load avatar_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% block title %}<title>Stack Otterflow</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <script src="{% static 'js.cookie.js' %}" defer></script>
    <script src="{% static 'compiled.js' %}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>

</head>

<body>
    <main class="main">
        <div class='navbar'>

            {% block topbar %}
            <ul class='flexbar'>
                <div class='leftnav'>
                    <li class="nav"><a class="icon" href="{% url 'index' %}"> <img
                                src="https://png2.kisspng.com/sh/75970745f4f413f93e578cbc24751f18/L0KzQYm3VMA1N6N2j5H0aYP2gLBuTf91fJZ3RdV4bYD4hLb5Tflkd594RdV1aYCwccP7Tf91fJZ3RadqY0W2SLa7U8Nkbmo9RqYDOUm5QIWCUcUzOmk8TKcENkK0QoO1kP5o/kisspng-otter-computer-icons-clip-art-otter-5ac538e433cf98.4899604915228745962122.png"
                                height="50" width="50"></a></li>
                    <li class="nav"><a href="{% url 'index' %}">Stack Otterflow</a></li>
                </div>
                <div class='rightnav'>
                    {% if request.user.is_authenticated %}
                    <li class="nav"><a href="{% url 'user-profile' pk=user.id %}">{% avatar user 40 %}</a></li>
                    <li class="nav"><a href="{% url 'user-profile' pk=user.id %}">{{ request.user }}</a> | </li>
                    <li class="nav"><a href="{% url 'user-favorites' %}">Favorites</a> | </li>
                    <li class="nav"><a href="{% url 'auth_logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav"><a href="{% url 'auth_login' %}">Login</a> | </li>
                    <li class="nav"><a href="{% url 'registration_register' %}">Register</a></li>
                </div>
                {% endif %}
            </ul>
            {% endblock %}
        </div>
        <div class='sortbar'>
            {% block sortbar %}
            <ul class='flexsort'>
                <div class='leftnav'>
                    <li><a href="{% url 'question-list' %}">All Questions</a></li>
                    <li><a href="{% url 'categories' %}">All Categories</a></li>
                </div>
            </ul>
            {% endblock %}
        </div>
        <div>{% block content %}{% endblock %}</div>
    </main>
    <footer>
        <p>Copyright &copy; 2019 Stack Otterflow Inc. All rights reserved.</p>
    </footer>
</body>


</html>