<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Stack Otterflow</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
      <div class='navbar'>
        
      {% block topbar %}
        <ul class='flexbar'>
            <div class='leftnav'>
                <!-- <li><a class="icon" href="{% url 'index' %}"> <img src="https://cdn1.iconfinder.com/data/icons/animals-set-01/100/OTTER-512.png" height="50" width="50"></a></li> -->
                <li><a href="{% url 'index' %}">Stack Otterflow</a></li>
            </div> 
            <div class='rightnav'>
            {% if request.user.is_authenticated %}
                <li>Logged in as {{ request.user }}</li>
                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'auth_login' %}">Login</a></li> 
                <li><a href="{% url 'registration_register' %}">Register</a></li>
            </div>
        {% endif %}
        </ul>
     {% endblock %}
      </div>
      <div>{% block content %}{% endblock %}</div>
</body>
</html>