* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    margin-bottom: 50px;
}

p {
    margin-left: 40px;
}

a:visited {
    color: blue;
}

.login {
    margin-left: 20px;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    height: auto;
    min-height: 45px; 
    background-color:#484848;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    font-family: 'Dosis', sans-serif;
}

.navbar li {
    list-style-type: none;
    display: inline;
    font-size: 20px;
    padding-right: 10px;
}

.navbar li a{
    color: white;
    text-decoration: none;
}

.navbar li a:hover{
    color: black;
    text-decoration: none;
}

.flexbar {
    display: flex;
    justify-content: space-between;
}

.flexnav {
    display: flex;
    justify-content: center;
}

.sortbar {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}
.sortbar li {
    list-style-type: none;
    font-size: 20px;
}

.leftnav, .rightnav {
    display: flex;
    align-items: center;
}

.index_body, .question_list, .question-detail, .category-detail, .category_list, .faveadded, .yourfavs{
    padding-left: 75px;
    padding-right: 75px;
}

.site_header, .recent_questions, .favorites, .profile {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* User Profile View */
.profile {
    margin-left: 50px;
}

.username, .avatar {
    font-size: 1.8em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #484848;
    color: white;
    text-align: center;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* @media screen and (max-width: 700px) {
    .navbar{
        padding-left: 10px;
        padding-right: 10px;
    }
    .sortbar {
        padding-left: 10px;
        padding-right: 10px;
    }
    .index_body {
        padding-left: 10px;
        padding-right: 10px;
    }
  } */

.favorite {
    background-color: rgb(69, 77, 163);
    color: white;
    border-radius: 999em;
    font-size: 1em;
    padding: .5em 1em;
}


#bestAnswerButton {
    background-color: gray;
    border: none;
    border-radius: 18px;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.question_header, .category_header {
    margin-bottom: 20px;
}


.added {
    margin-left: 0;
}

.question-form {
    margin-left: 40px;
}

.add-question {
    background-color: rgb(69, 77, 163);
    color: white;
    border-radius: 999em;
    font-size: 1em;
    padding: .5em 1em;
    margin-left: 5em;
    margin-top: .5em;
}

.title {
    margin-left: 50px;
}

input, textarea, select {
    font-size: 1em;
    margin-top: 15px;

}

li {
    margin-left: 60px;
}

li.nav {
    margin-left: 0px;
}

input[type=submit] {
    margin-left: 60px;
    background-color: rgb(69, 77, 163);
    color: white;
    border-radius: 999em;
    font-size: 1em;
    padding: .5em 1em;
}

.shortlist, .question_list {
    line-height: 1.5em;
}

.change-avatar {
    margin-left: 100px;
}


.checkmark {
    color: green;
    font-size: 2.5em;
}

button[type=submit] {
    background-color: rgb(69, 77, 163);
    color: white;
    border-radius: 999em;
    font-size: 1em;
    padding: .5em 1em;
}

.category-questions {
    line-height: 2em;
}